{% extends 'base.html' %}
{% block content %}
<h1>Meeting</h1>
<table class='table'>
 <tr>
     <th>Meeting Title</th>
     <th>Meeting Date</th>
     <th>Meeting Time</th>
     <th>Meeting Location</th>
     <th>Agenda</th>
 </tr>
 {% for t in type_list %}
   <tr>
       <td>{{ t.MeetingTitle }}</td>
       <td>{{ t.MeetingDate }}</td>
       <td>{{ t.MeetingTime }}</td>
       <td>{{ t.MeetingLocation }}</td>
       <td>{{ t.Agenda }}</td>
   </tr>

 {% endfor %}


</table>


{% endblock %}